# WordPress

wp-config.php
wp-content/upgrade/
wp-content/uploads/
wp-content/cache/
wp-content/advanced-cache.php
wp-content/wp-rocket-config/
wp-content/.htaccess

# Common
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo
